/* xl Layout: 1280px. */
@media only screen and (min-width: 1200px) {  
}

/* lg Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
/*  Product  */
.product-name {height: 58px;}

/*  Footer  */
.single-footer-wrap li span {font-size: 13px;}

/*  Blog  */
.blog__content {padding: 0 5px 15px 5px;}
.blog__title {height: 70px;}

/*  Blog Details */
.profile__img {width: 15%;}
.profile__content {width: 85%;}

/*  Product category */
input.price-search-btn {padding: 6px 15px;}
.category-wrap .product-name {height: 37px;}

}

/* md Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
/*  Header  */
.header-menu-wrap li {margin-right: 18px;}

/*  Product  */
.product-name {height: 58px;}

/*  Footer  */
.single-footer-wrap.subscribe {margin-top: 30px;}
.footer-title.subscribe::after {left: 33.5%;}

/*  Blog  */
.blog__title {height: 70px;}

/*  Blog Details */
.profile__img {width: 12%;}
.profile__content {width: 88%;}
.comments-form {padding-bottom: 20px;}

/*  Product category */
input.price-search-btn {padding: 6px 15px;}
.category-wrap .product-name {height: 35px;}

}

/* sm Layout: 768px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
/*  Header  */
.header-menu-wrap {display: none;}
.slicknav_menu {
    display: block; 
    background-color: #0163d2; 
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
}
.header-search-box input {margin: 15px 0;}
.header-top-right-wrap li.active,
.header-search-box {display: none;}
.header-top-left-wrap li a,
.header-middle-right-wrap li a  {border: none;}
.header-middle-right-wrap li.mobile-search {display: inline-block;}
.header-middle-right-wrap li a { 
    padding: 0 5px; 
    color: #0163d2;
    font-weight: 700;
}
.header-middle-right-wrap li:last-child a { padding: 0 0 0 10px;}
.header-top-right-wrap li a {padding: 0 12px;}
.header-middle-right-wrap li a span {display: none;}
.mean-container .mean-nav ul li a img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
/*  /Header  */

/*  Genious Carosel  */ 
.bs-slider {padding-top: 45px;}

/*  Product  */
.product-tab .nav > li > a {
    display: block;
    margin-bottom: 20px;
    width: auto;
    padding: 10px 14px;
}

/*  Footer  */
.single-footer-wrap.subscribe {margin-top: 30px;}
.footer-title.subscribe::after {left: 27.5%;}

/*  Blog  */
.blog__content {padding: 0 5px 15px 5px;}
.blog__title {height: 70px;}

/*  Contact  */
.contact-info-contact {padding-top: 30px;}

/*  Blog Details */
.profile__img {width: 16%;}
.profile__content {width: 84%;}
.comments-form {padding-bottom: 20px;}
.comments__profile.pl-100 {padding-left: 80px;}
.comments__profile.pl-100 .profile__content {padding-left: 15px;}

}

/* xs Layout: 768px. */
@media only screen and (max-width: 575px) {
.section-title h2 {font-size: 20px;}
.title-overlay-wrap h1 {font-size: 25px;}
.title-overlay-wrap p {margin-top: 0px;}
.title-overlay-wrap {padding: 90px 0 50px 0;}

/*  Header  */
.header-menu-wrap {display: none;}
.slicknav_menu {
    display: block; 
    background-color: #0163d2; 
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
}
.header-search-box input {margin: 15px 0;}
.header-top-right-wrap li.active,
.header-search-box {display: none;}
.header-top-left-wrap li a,
.header-middle-right-wrap li a  {border: none;}
.header-middle-right-wrap li.mobile-search {display: inline-block;}
.header-middle-right-wrap li a { 
    padding: 0 5px; 
    color: #0163d2;
    font-weight: 700;
}
.header-middle-area .col-delete {display: none;}
.header-middle-right-wrap li:last-child a { padding: 0 0 0 10px;}
.header-top-right-wrap li a {padding: 0 12px;}
.header-middle-right-wrap li a span {display: none;}
.mean-container .mean-nav ul li a img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
/*  /Header  */ 

/*  Genious Carosel  */ 
.bs-slider {padding-top: 44px;}

/*  Product  */
.product-tab .nav > li > a {
    display: block;
    margin-bottom: 20px;
    width: auto;
    padding: 10px;
}

/*  Client logo carousel  */
.logo-carousel.owl-carousel .owl-prev{left: 0;}
.logo-carousel.owl-carousel .owl-next{right: 0;}

/*  Footer  */
.single-footer-wrap {margin-bottom: 30px;}
.single-footer-wrap.subscribe {
    text-align: left!important;
    margin-bottom: 0;
}
.footer-title.subscribe::after {
    left: 0;
    transform: translateX(0%);
}
.subscribe-form,
.footer-social-links {text-align: left !important;}

/*  Blog  */
.blog__content {padding: 0 5px 15px 5px;}
.blog__title {height: 70px;}

/*  Contact  */
.contact-info-contact {padding-top: 30px;}

/*  Blog details  */
.blog-details-title {font-size: 25px;}
.blog-single-img {margin-bottom: 10px;}
.profile__img {width: 16%;}
.profile__content {width: 84%; padding-left: 15px;}
.comments-form {padding-bottom: 20px;}
.comments__profile.pl-100 {padding-left: 40px;}

}

